.App {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

form {
    background-color: lightgrey;
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

input[type="text"] {
    width: 410px;
    margin-left: 10px;
}

.bookmark-list {
    background-color: lightgrey;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    width: 100%;
    height: 550px;
    margin: 10px;
}

.bookmark-item {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 500px;
}

.error {
    color: red;
    font-size: small;
}
